<ul class="nav sidebar-menu">
  <li class="sidebar-label pt20">Menu</li>
  <%= sidebar_icon_accordion 'Example', 'fa fa-home' do  %>
    <%= accordion_icon_link 'Link 1', 'path', nil, nil %>
    <%= accordion_icon_link 'Link 2', 'path', nil, nil %>
    <%= accordion_icon_link 'Link 3', 'path', nil, nil %>
  <% end %>
</ul>
